<div class="container">
    {% block title %}
        <h1>{{ post.post_title }}</h1>
    {% endblock %}

    {% block content %}

        {% if parse_blocks(post.post_content) %}
            {% for block in parse_blocks(post.post_content) %}
                {{ render_block(block) | raw }}
            {% endfor %}
        {% endif %}

    {% endblock %}
</div>
